@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    background-color: #5822B2;
    height: 40px;
    width: 50px;
    border-radius: 24px;
    margin: 5px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}